body{
    background-color:#B2F9FC;
    color:#1f1b1b;
    margin: unset;
    margin-bottom: 0px;
}
#name{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
h2{
    text-align: center;
    font-weight: normal;
}

img{
    width: 7.3%;
    height: 15%;
}

.sun{
    position: absolute;
    left: 400px;
    top: 50px;
}

.clouds{
    position: absolute;
    left: 180px;
    top: 200px;
}

.second-cloud{
    position: absolute;
    right: 350px;
    top: 150px;
}

.name{
    margin-top: 200px;
    margin-bottom: 50px;
}

.dotted-line{
    width: 10%;
    margin: 0 auto 0 auto;
    border-top: dotted;
    border-width: 8px;
    border-color: orange;
}

.greetings{
    margin-top: 40px;
}

.skills{
    width: 60%;
    margin: 0 auto 0 auto;
    margin-bottom: 3%;
}

.skillimage{
    width: 15%;
    height: 30%;
    border-radius: 100%;
    float: left;
}

.text{
    text-align: justify;
    margin-left: 20%;
    line-height: 2;
    padding: 1% 0% 2% 0%;
}

.textv{
    text-align: justify;
    margin-right: 20%;
    line-height: 2;
    padding: 1% 0% 2% 3%;
    margin-top: 5%;
}

.vimg{
    margin-top: 5%;
}

.icon{
    width: 30px;
    height: 30px;
    padding-left: 15%;
}

.contact{
    width: 8%;
    margin: 30px auto 0px auto;
}

.footer{
    margin-top: 40px;
    background-color: #FFE652;
    height: 40px;
    width: 100%;
}